/* 底部导航 */

.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(211, 211, 211, 0.8);
    padding: 0 0.4rem;
    z-index: 9999;
}

.nav div {
    text-align: center;
}

.nav img {
    width: 0.5rem;
    height: 0.5rem;
}

.nav p {
    font-size: 0.1rem;
    padding-top: 0.04rem;
}


/* 列表页 */

.content {
    display: flex;
    height: auto;
    overflow: hidden;
    padding: 0.2rem 0;
    justify-content: space-between;
    border-bottom: 1px solid #bdafaf;
}

.content-img {
    width: 100%;
    height: auto;
    margin-left: 0.1rem;
    margin-right: 0.2rem;
}

.content-img img {
    width: 100%;
    display: block;
}

.content-text {
    width: 100%;
    margin-right: 0.1rem;
    position: relative;
}

.content-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 0.3rem;
    font-weight: bold;
    line-height: 1.5;
    color: #1c1c1c;
}

.conten-biao {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.24rem;
}

.conten-biao p {
    border-radius: 0.5rem;
    border: 0.02rem solid #40ff00;
    padding: 0.08rem 0.15rem;
    color: #f78181;
}

.content-wrap {
    margin-bottom: 1.2rem;
}

.loding div {
    text-align: center;
    color: #333;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.3rem;
}


/* 登录后顶部 */

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: white;
    background: rgba(255, 127, 36, 0.5);
    font-size: 0.35rem;
    z-index: 2;
}

.header-fixed-back {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.6rem;
    width: 0.6rem;
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
}

.header-fixed-back img {
    height: 0.6rem;
    width: 0.6rem;
}

a {
    color: #fff;
}